.a-container{
    background: linear-gradient(360deg, hsla(217, 77%, 63%, 1) 0%, hsla(299, 100%, 50%, 1) 100%);
    @apply min-h-[100vh] relative items-center flex justify-center flex-col pt-[1rem]
}


.second-layerss{
    color: rgb(202, 202, 202);
    @apply pt-[1.5rem] flex flex-col justify-start   px-[1.7rem] gap-[1rem]   w-[94%]  h-fit bg-[#250933] rounded-xl tablet:w-[75%] desktop:w-[30%] pb-[5rem] mb-[3rem] desktop:px-[4rem] 
}


.anonymous-footer{
    @apply flex flex-col bg-[#3b3c41] h-[11vh] w-[100%] items-center py-[1rem] text-[#888686] text-[0.8rem] font-semibold desktop:absolute desktop:bottom-0
}


.v-lines{
    @apply h-[1rem] w-[0.10rem] bg-[white]
}   

.footer-links{
    @apply flex flex-row  w-[100%] items-center justify-center gap-[0.3rem] mt-[0.5rem] font-normal
}

.icon-header{
    @apply flex items-center justify-center 
}

.login-header{
    @apply font-bold items-center justify-center flex text-[2rem] mt-[1.2rem] text-white 
}

.icon-logo{
    @apply h-fit w-fit
}

.login-text{
    @apply text-center text-[0.75rem]
}

.login-input{
    @apply bg-transparent
}

input:focus{
    @apply outline-none
}

.form-label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    @apply text-[0.8rem]
}

.login-input{
    border-bottom: 1px solid white ;
    @apply pb-[1rem] mt-[1rem] w-[100%]
}

.login-input::placeholder{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    @apply text-[1.2rem] 
}


.view-messagesd{
    background: linear-gradient(90deg, hsla(299, 100%, 50%, 1) 0%, rgb(102, 154, 239) 100%);
    @apply py-[0.8rem] rounded-3xl text-[0.95rem] text-white  desktop:py-[1rem] desktop:text-[0.9rem] mt-[2rem] w-[100%] font-bold
}

.forgot-password{
    @apply text-[0.8rem] text-[grey]
}
.login-last{
    @apply flex w-[100%] items-center flex-col gap-[1rem] mt-[0.5rem]
}

.agreement{
    @apply text-[0.7rem]
}

.toatL-messages{
    @apply flex w-[100%] items-center justify-center relative  text-[green] font-bold  text-center px-[1rem]
}


.toatsSs-messages{
    @apply flex w-[100%] items-center justify-center relative text-[red] font-bold  text-center px-[1rem]
}