.my-answers{
    /* @apply h-fit bg-[#250933] w-[100vw]  items-center flex  flex-col pt-[1rem]  px-[8%] pb-[5rem] */
    background: linear-gradient(360deg, hsla(217, 77%, 63%, 1) 0%, hsla(299, 100%, 50%, 1) 100%);
    @apply h-fit  items-center flex justify-center flex-col pt-[1rem]
}

.my-answer{
    @apply text-[2.1rem] tablet:text-[2.5rem] text-center  font-bold text-white mb-[0.5rem] flex items-center justify-center px-[3rem]
}

.answers-subhead{
    @apply text-center text-[0.85rem] text-[#e3dede]  mb-[3rem]
}

.message-template{
    border: 0.01px solid rgb(0, 234, 255);
    @apply rounded-xl w-[100%] text-[#e3dede] text-[0.85rem] flex flex-col  pt-[1rem] px-[0.8rem]
}

.message-temp-head{
    @apply font-bold text-[1.03rem] mb-[0.2rem]
}

.message-temp-sender{
    @apply text-[0.9rem] text-[#e3dede] mt-[1rem] 
}

.message-temp-options{
@apply mt-[1rem] mb-[0.7rem]
}

.share-response{
    border: 0.1px solid blue;
    @apply w-[100%] flex items-center justify-center  rounded-xl py-[0.2rem] text-[1rem] font-medium   text-[#e3dede]
}

.answers-container{
    @apply flex flex-col  gap-[1.5rem] mb-[2rem]
} 

.kubool-message-opt{
    border: 0.1px solid rgb(4, 4, 170);
    @apply w-[100%] flex items-center justify-center  rounded-xl py-[0.4rem] text-[0.9rem] font-medium   text-[#e3dede] cursor-pointer
}

.kubool-message{
    @apply mt-[02rem] text-white text-[0.8rem]
}

.kml{
    @apply mt-[1rem]
}