.clues-container{
    /* background: linear-gradient(90deg, hsla(299, 100%, 50%, 1) 0%, hsla(217, 77%, 63%, 1) 100%)!important; */

    @apply  h-[80vh] w-[96vw] fixed top-[10vh] right-0 bg-[#250933] px-[1rem] py-[1rem] left-[3]
}

.clues-inside{
    border: 0.01px solid #00eaff;
    @apply h-[100%] w-[100%] rounded-lg relative

}

.clues-head{
    @apply w-[100%] flex items-center justify-center mt-[1rem] text-[1.7rem] font-extrabold 
}

.clues-subheading{
    @apply text-[0.8rem] w-[100%] items-center justify-center flex mt-[1rem] mb-[2rem]
}

.message-templatett{
    /* border: 0.01px solid rgb(0, 234, 255); */
    @apply rounded-xl w-[100%] text-[#e3dede] text-[0.85rem] flex  h-[50%] flex-col items-center justify-center   pt-[1rem] px-[0.8rem]
}

.senders-init{
    @apply font-bold text-[1.1rem]
}


.sender-initial{
    @apply font-medium
}


/* omoyenisamuel66@gmail.com */

.clue-container{
    @apply flex flex-col px-[1rem] gap-[1rem]
}





/* 
    try {

        
          if (error) {
            // Handle authentication errors
            if (error.message.includes('invalid')) {
              setErrorMessage('Invalid email or password');
            } else {
              setErrorMessage('An error occurred while logging in. Ensure your credentials are correct ');
              setTimeout(() => {
                setErrorMessage("")
              }, 3000);
            }
          } else {
            // Successful login
            setRedirecting(true)
            setSuccessMessage('You are successfully logged in');
            setTimeout(() => {
                setSuccessMessage("")
              }, 3000);
          }
      
          // Clear form data
          setFormData({
            email: '',
            password: ''
          });

    } catch (error) {
        console.error('Login error:', error.message);
        setErrorMessage('An error occurred while logging in');
        setTimeout(() => {
            setErrorMessage("")
          }, 9000);
      } */




      /* 
    try {
    
      
      setFormData({
        email: "",
        username: "",

  password: ""
      })
      setRedirecting(true)
    setSuccessMessage("Account created successfully! check your email")
    } catch (error) {
     setErrorMessage(error)
    }
 */